[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn main:app --reload"

[packages]
requests = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiolinebot = "*"
pymongo = "*"
validators = "*"
redis = "*"
hiredis = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
